<script type="text/javascript" src="/js/index.js">
</script>
<br>
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;" id="dashboardid">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
      <!-- Profile -->
      <div class="w3-card w3-round w3-white w3-hover-shadow w3-container w3-theme-l5" id="profilepc" style="width: 28%;height: 95%;position: fixed;">
         <p class="w3-left" ><img src= {{user.imageUrl}} class="w3-rounded" style="height:300px;width:300px;margin-top: 3%;border-radius: 5px;cursor: pointer;" alt="Avatar" id="dp">
           <div class="upload-btn-wrapper">
            <button class="btn1 w3-theme-d4" style="border: none;width: 300px;cursor: pointer;" id="updatebtn">Update</button>
           <input type="file" id="file" />
           </div>
           <button class="btn1 w3-theme-d4" style="display: none;border: none;width: 300px;cursor: pointer;" id="changebtn" onclick="uploadFile()">Change</button>
         </p>
         <h4>{{user.name}}</h4>
         <hr>
         <button class="w3-button w3-block w3-theme-l5 w3-left-align"><i class="fa fa-pencil fa-fw w3-margin-right "></i> {{user.profession}}</button>
         <button class="w3-button w3-block w3-theme-l5 w3-left-align"><i class="fa fa-home fa-fw w3-margin-right "></i> {{user.city}}, {{user.country}}</button>
         <button class="w3-button w3-block w3-theme-l5 w3-left-align"><i class="fa fa-birthday-cake fa-fw w3-margin-right "></i>{{formatDate user.birthday}}</button>
          <button  class="w3-button w3-block w3-theme-l5 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> Friends <span style="margin-left: 3%;">1</span></button>
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m4"  style="left: 28.5%; position: absolute;width:480px; " id="postsdiv">
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white w3-hover-shadow w3-theme-l5" style="width: 152%;">
            <div class="w3-container w3-padding">
              <p >
                   <textarea class="w3-border w3-padding"  rows="1" cols="85" form="usrform" id="headid" placeholder="Title of the Blog" >
                   </textarea>
                   <textarea class="w3-border w3-padding"  rows="5" cols="85" name="comment" form="usrform" id="textid" placeholder="Write your Blog">
                   </textarea>
                   <br>
                   <button class="w3-button w3-theme-d4" style="border-radius: 20px;width:100px; " onclick="loadDoc()"><i class="fa fa-pencil" style="padding-right: 8px;"></i>post</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    {{#if posts}}
          {{#each posts}}
              <div class="w3-container w3-card w3-white w3-round w3-margin w3-hover-shadow w3-theme-l5 wrap" style="width: 142%;">
               <div class="header" style="margin-top: 20px;width: 142%;">
                 <p style="width: 142%;"><img src={{../user.imageUrl}} class="w3-circle" style="height:40px;width:40px;" alt="Avatar"><span  style="margin-left: 7px;font-weight: bold;"><a href="/dashboard" style="text-decoration: none;color: #365899;">{{../user.name}}</a></span><span style="margin-left: 28%;">{{this.creation}}</span>
                 </p>
                 <hr style="width: 70%;">
                 <p style="font-size: 20px;"><strong>{{this.title}}</strong></p>
                 <!-- <hr style="width: 70%;"> -->
               </div>
              <p style="margin-top: 10px;">{{this.text}}</p>   
              <div class="footer" style="width: 142%;">
              <hr style="width: 70%;">
              <button type="button" class="w3-button  w3-margin-bottom" style="width: 23%;border-radius: 20px;"><i class="fa fa-heart-o" style="padding-right: 8px;"></i>Like<span>{{this.likes}}</span></button> 
              <button type="button" class="w3-button  w3-margin-bottom " style="width: 23%;border-radius: 20px;"><i class="fa fa-comments-o" style="padding-right: 8px;"></i>Comment</button>
              <button type="button" class="w3-button  w3-margin-bottom " style="width: 23%;border-radius: 20px;"><i class="fa fa-share-square-o" style="padding-right: 8px;"></i>Share<span>{{this.shares}}</span></button>
              </div>
            </div>      
          {{/each}}
    {{else}}
      <p style="margin-left: 45%;"><em>Sorry , No posts to show you.</em></p>
    {{/if}}  
    <!-- End Middle Column -->
    </div>
  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else { 
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}


function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script type="text/javascript">
  var config = {
    apiKey: 'AIzaSyBiQFWX-K78Uj49N--rMF8z5piALyLWHXo',
    authDomain: 'ithink-fbc4c.firebaseapp.com',
    databaseURL: 'https://ithink-fbc4c.firebaseio.com',
    storageBucket: 'ithink-fbc4c.appspot.com'
  };
  firebase.initializeApp(config);
  var storage = firebase.storage();
</script>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
