<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/friendrequest.js">
</script>
<br>
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;" id="dashboardid">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-card w3-round w3-white w3-hover-shadow w3-container" id="profilepc" style="width: 25%;height: 95%;position: fixed;margin-left: 5%">
         <p class="w3-left" >
         <div class="container">
         <img src= {{user.imageUrl}} class="w3-rounded" style="height:300px;width:300px;margin-top: 3%;border-radius: 5px;cursor: pointer;" alt="Avatar" id="dp">
           <div class="middle">
               <div class="upload-btn-wrapper">
                  <button class="btn1" style="border: none;width: 300px;cursor: pointer;opacity: 0.7;background-color: black;color: white;" id="updatebtn">Update</button>
                  <input type="file" id="file" />
                </div>
           </div>
           <!-- <div class="upload-btn-wrapper">
            <button class="btn1 w3-theme-d4" style="border: none;width: 300px;cursor: pointer;" id="updatebtn">Update</button>
           <input type="file" id="file" />
           </div> -->
           </div>
           <button class="btn1 w3-theme-d4" style="display: none;border: none;width: 300px;cursor: pointer;" id="changebtn" onclick="uploadFile()">Change</button>
         </p>
         <h4>{{user.name}}</h4>
         <p style="color: #365899;"><strong>@{{user.username}}</strong></p>
         <p><em>{{user.bio}}</em>
         </p>
         <hr>
         <div class="w3-block  w3-left-align"><i class="fa fa-pencil fa-fw w3-margin-right "></i><strong>{{user.profession}}</strong></div>
         <div class=" w3-block  w3-left-align"><i class="fa fa-home fa-fw w3-margin-right "></i><strong>{{user.city}}, {{user.country}}</strong></div>
         <div class=" w3-block  w3-left-align"><i class="fa fa-birthday-cake fa-fw w3-margin-right "></i><strong>{{formatDate user.birthday}}</strong></div>
        <div  class=" w3-block  w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i><strong>Following <span style="margin-left: 3%;">{{user.following.length}}</span></strong></div>
        <div  class=" w3-block  w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i><strong>Followers <span style="margin-left: 3%;">{{user.followers.length}}</span></strong></div>
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->

    <div class="w3-col m7"  style="left: 30.5%; position: absolute;width: 480px;" id="postsdiv">
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white w3-hover-shadow " style="width: 480px;">
          </div>
        </div>
      </div>

    {{#each data}}
        <div class="w3-container w3-card w3-white w3-round w3-margin-left w3-hover-shadow wrap" style="width: 480px;margin-top: 2px;">
        <div class="w3-container w3-half" style="width:100px; ">
        <div class=""><img src={{this.imageUrl}} class="w3-rounded" style="height:80px;width:80px;margin-top: 10px;margin-bottom: 10px;" alt="Avatar">
           </div>
       </div>
       <div class="w3-container w3-half" style="width: 340px;">
       <div style="margin-top: 15px;">
         <div  style="font-weight: bold;"><a href="/userprofile/{{this.username}}" style="text-decoration: none;color: #365899;">{{this.name}}</a>
         {{#ifCond this.isfriend 1}}
              <div class="w3-right w3-button" onclick="sendRequest('{{this.username}}')"><i class="fa fa-check" id="frnd{{this.username}}" style="cursor: pointer;font-size: 18px;color: blue;" ></i></div>  
          {{else}}
              <div class="w3-right w3-button" onclick="sendRequest('{{this.username}}')"><i class="fa fa-user-plus" id="frnd{{this.username}}" style="cursor: pointer;font-size: 18px;" ></i></div>
          {{/ifCond}}
         </div>
         </div>
         <div>
         <span  style="font-weight: bold;"><a style="text-decoration: none;color: #909296;">{{this.profession}}</a></span><br>
         <span  style="font-weight: bold;"><a  style="text-decoration: none;color: #909296;">{{this.city}}</a></span>
         <span  style="font-weight: bold;margin-left: 2px;"><a style="text-decoration: none;color: #909296;">,{{this.country}}</a></span>
       </div>
       </div>
        </div>       
        {{/each}}

    <!-- End Middle Column -->
    </div>    

    <div style="margin-left: 79%;width: 200px;height: 200px;position: fixed;">
      <ul style=" list-style-type: none;">
        <li><a style="text-decoration: none;" href="/showfollowers">Followers</a></li>
        <li><a style="text-decoration: none;" href="/showfollowings">Following</a></li>
        <li onclick="document.getElementById('infoedit').style.display='block'">Edit Basic Information</li>
        <li onclick="document.getElementById('bioedit').style.display='block'">Edit Bio</li>
      </ul>
    </div>
  
  <!--  model -->

  <div id="infoedit" class="w3-modal" style="border-radius: 4px;">
    <div class="w3-modal-content w3-card-4" style="background-color: #e9ebee;width: 400px;">
      <header class="w3-container" style="background-color: #e9ebee;"> 
      <div style="display: inline-block;">
        <div style="margin-top: 0%;" onclick="document.getElementById('infoedit').style.display='none'" class="w3-button w3-small w3-display-topright">&times;</div>
        </div>
        <div style="display: inline-block;width: 99%">
        <p style="color: #074b83;margin-left: 40%;"><strong>Update Details</strong></p>
        </div>
      </header>
      <div class="w3-container" style="margin-bottom: 3%;">
           <form class="form" method="post" action="/updatedetails">
            <div class="form__group">
                <input type="text" placeholder="Name" class="form__input" name="uname" />
            </div>

            <div class="form__group">
                <input type="date" placeholder="birthday" class="form__input" name="ubirthday" />
            </div>

            <div class="form__group">
                <input type="text" placeholder="profession" class="form__input" name="uprofession" />
            </div>

            <div class="form__group">
                <input type="text" placeholder="city" class="form__input" name="ucity" />
            </div>
            
            <div class="form__group">
                <input type="text" placeholder="country" class="form__input" name="ucountry" />
            </div>

            <div class="form__group">
                <input type="password" placeholder="password" class="form__input" name="upassword" />
            </div>
            <input type="submit" name="update" value="update" class="btn w3-theme-d5">
        </form>
      </div>
      <footer class="w3-container"> 
      </footer>
      </div>
  </div>  
  
  <div id="bioedit" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="background-color: #e9ebee;width: 400px;">
      <header class="w3-container" style="background-color: #e9ebee;"> 
      <div style="display: inline-block;">
        <div style="margin-top: 0%;" onclick="document.getElementById('bioedit').style.display='none'" class="w3-button w3-small w3-display-topright">&times;</div>
        </div>
        <div style="display: inline-block;width: 99%">
        <p style="color: #074b83;margin-left: 40%;"><strong>Update Bio</strong></p>
        </div>
      </header>
      <div class="w3-container" style="margin-bottom: 3%;">
           <form class="form" method="post" action="/updatebio">
            <div class="form__group">
                <input type="text" placeholder="Edit Bio" class="form__input" name="ubio" />
            </div>
            <input type="submit" name="update" value="update" class="btn w3-theme-d5">
        </form>
      </div>
      <footer class="w3-container"> 
      </footer>
      </div>
  </div>

  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else { 
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}


function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script type="text/javascript">
  var config = {
    apiKey: 'AIzaSyBiQFWX-K78Uj49N--rMF8z5piALyLWHXo',
    authDomain: 'ithink-fbc4c.firebaseapp.com',
    databaseURL: 'https://ithink-fbc4c.firebaseio.com',
    storageBucket: 'ithink-fbc4c.appspot.com'
  };
  firebase.initializeApp(config);
  var storage = firebase.storage();
</script>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */

function donecomment (id) {
  var x= document.getElementById('commentbox'+id);
  if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.className = x.className.replace(" w3-hide", "");
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.className += " w3-hide";
    } 
}

function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

