<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/likeupdate.js"></script>
<script type="text/javascript" src="/js/addcomment.js"></script>
<br>
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;" id="dashboardid">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
      <!-- Profile -->
      <div class="w3-card w3-round w3-white w3-hover-shadow w3-container  " id="profilepc" style="width: 25%;height: 95%;position: fixed;margin-left: 5%;">
         <p class="w3-left" >
         <div >
         <img src= {{_user.imageUrl}} class="w3-rounded" style="height:300px;width:300px;margin-top: 3%;border-radius: 5px;cursor: pointer;" alt="Avatar" id="dp">
          </div>
         <h4><strong>{{_user.name}}</strong></h4>
         <p style="color: #365899;"><strong>@{{_user.username}}</strong></p>
         <p><em>{{_user.bio}}</em>
         </p>
         <hr>
         <div class="w3-block w3-left-align"><i class="fa fa-pencil fa-fw w3-margin-right "></i><strong>{{_user.profession}}</strong></div>
         <div class=" w3-block  w3-left-align"><i class="fa fa-home fa-fw w3-margin-right "></i><strong>{{user.city}}, {{_user.country}}</strong></div>
         <div class=" w3-block  w3-left-align"><i class="fa fa-birthday-cake fa-fw w3-margin-right "></i><strong>{{formatDate _user.birthday}}</strong></div>
        <div  class=" w3-block  w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i><strong>Following <span style="margin-left: 3%;">{{_user.following.length}}</span></strong></div>
        <div  class=" w3-block  w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i><strong>Followers <span style="margin-left: 3%;">{{_user.followers.length}}</span></strong></div>
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m4"  style="left: 30.5%; position: absolute" id="postsdiv" >
    {{#if _user.posts}}
          {{#each _user.posts}}
              <div class="w3-container w3-card w3-white w3-round  w3-hover-shadow wrap" style="width: 130%;margin: 10px; margin-left: 15px; margin-top: 0px">
               <div class="header" style="margin-top: 20px;width: 100%;">
                 <div style="width: 100%;">
                 <img src={{../_user.imageUrl}} class="w3-circle" style="height:40px;width:40px;" alt="Avatar">
                 <span  style="margin-left: 7px;font-weight: bold;"><a href="/userprofile/{{this.userid}}" style="text-decoration: none;color: #365899;">{{../_user.name}}</a></span>
                 <span class="w3-right" style="color: #a2a3a9;margin-right: 13.5%;">Created on {{formatDate this.creation}}</span>
                 </div>
                 <p style="font-size: 20px;margin-top: 2%; overflow-wrap: break-word;"><strong>{{this.title}}</strong></p>
                 <hr style="width: 100%;">
               </div>
              <p style="margin-top: 10px; overflow-wrap: break-word;">{{{this.text}}}</p>   
              {{#ifCond this.userid ../user.username}}   
                  <div class="footer" style="width: 100%;">
                  <hr style="">
                  {{#ifCond this.isliked 1}}
                        <div class="w3-button  w3-margin-bottom" style="width: 32%;border-radius: 20px;" onclick="updateLikes(`{{this._id}}`)"><i class="fa fa-thumbs-up" style="padding-right: 8px;font-size: 22px;color: blue;" id="licon{{this._id}}"></i><span style="color: #848587;"><strong>Like</strong></span> <span style="color: #848587;" id="likes{{this._id}}">{{this.likedby.length}}</span></div>
                  {{else}}
                      <div class="w3-button  w3-margin-bottom" style="width: 32%;border-radius: 20px;" onclick="updateLikes(`{{this._id}}`)"><i class="fa fa-thumbs-up" style="padding-right: 8px;font-size: 22px;" id="licon{{this._id}}"></i><span style="color: #848587;"><strong>Like</strong></span> <span style="color: #848587;" id="likes{{this._id}}">{{this.likedby.length}}</span></div>
                  {{/ifCond}}
                  <div class="w3-button w3-margin-bottom " id="commentid" onclick="donecomment('{{this._id}}')" style="width: 32%;border-radius: 20px;"><i class="fa fa-comments-o" style="padding-right: 8px;font-size: 19px;"></i><span style="color: #848587;"><strong>Comment</strong></span> <span style="color: #848587;">{{this.comments.length}}</span></div>
                  
                  <div class="w3-button  w3-margin-bottom " style="width: 32%;border-radius: 20px;"><i class="fa fa-ellipsis-v" style="padding-right: 8px;font-size: 19px;"></i><span style="color: #848587;" id="shares"+ String({{this._id}})><strong>Options</strong></span></div>

                  <div id="commentbox{{this._id}}" class="w3-hide">
                  <div style="display: inline-block;">
                  <img src="{{../user.imageUrl}}" class="w3-left" style="width: 40px; height: 40px;padding:2px; border-radius: 50%;">
                   </div>
                   <div style="display: inline-block;width: 80%;">
                    <textarea class="w3-round" style="width: 100%; border: 1px solid lightgray;padding: 1%;" rows="2" placeholder="Write a comment..." id="textarea{{this._id}}"></textarea>
                   </div>
                    <div style="display: inline-block;">
                      <button class="w3-button w3-theme-d4" style="margin-bottom: 67%;border-radius: 20px;" onclick="addComment('{{this._id}}')">add</button>
                    </div>
                    <div class="showcomments">
                    {{#ifCond this.comments.length 0}}
                     <p><em>No comments to show you!</em></p>
                    {{else}}
                    {{#each comments}}
                      <div class="w3-lightgray" style="padding: 10px;margin-bottom: 10px">
                       <div style="display: inline-block;width: 20%;">
                        <img src="{{this.imageUrl}}" class="w3-left" style="width: 25px; height: 25px;padding:2px; border-radius: 50%;">
                        <p class="" style="padding:2px;color: #365899;overflow-wrap: break-word;"><a href="/userprofile/{{this.username}}" style="text-decoration: none;cursor: pointer;" ><strong>{{this.name}}</strong></a></p>
                       </div>
                       <div style="display: inline-block;width: 70%;background-color: #e9ebee;padding: 2%;border-radius: 30px;"> 
                        <p>
                          {{{this.content}}}
                        </p>
                        </div>
                      </div>
                      {{/each}}
                    {{/ifCond}}
                    </div> 

                  </div>
                  </div>
              {{else}}
              <div class="footer" style="width: 100%;">
              <hr style="">
              {{#ifCond this.isliked 1}}
                    <div class="w3-button  w3-margin-bottom" style="width: 49%;border-radius: 20px;" onclick="updateLikes(`{{this._id}}`)"><i class="fa fa-thumbs-up" style="padding-right: 8px;font-size: 22px;color: blue;" id="licon{{this._id}}"></i><span style="color: #848587;"><strong>Like</strong></span> <span style="color: #848587;" id="likes{{this._id}}">{{this.likedby.length}}</span></div> 
              {{else}}
                  <div class="w3-button  w3-margin-bottom" style="width: 49%;border-radius: 20px;" onclick="updateLikes(`{{this._id}}`)"><i class="fa fa-thumbs-up" style="padding-right: 8px;font-size: 22px;" id="licon{{this._id}}"></i><span style="color: #848587;"><strong>Like</strong></span> <span style="color: #848587;" id="likes{{this._id}}">{{this.likedby.length}}</span></div> 
              {{/ifCond}}
              <div class="w3-button w3-margin-bottom " id="commentid" onclick="donecomment('{{this._id}}')" style="width: 49%;border-radius: 20px;"><i class="fa fa-comments-o" style="padding-right: 8px;font-size: 19px;"></i><span style="color: #848587;"><strong>Comment</strong></span> <span style="color: #848587;">{{this.comments.length}}</span></div>
               <div id="commentbox{{this._id}}" class="w3-hide">
              <div style="display: inline-block;">
              <img src="{{../user.imageUrl}}" class="w3-left" style="width: 40px; height: 40px;padding:2px; border-radius: 50%;">
               </div>
               <div style="display: inline-block;width: 80%;">
                <textarea class="w3-round" style="width: 100%; border: 1px solid lightgray;padding: 1%;" rows="2" placeholder="Write a comment..." id="textarea{{this._id}}"></textarea>
               </div>
                <div style="display: inline-block;">
                  <button class="w3-button w3-theme-d4" style="margin-bottom: 67%;border-radius: 20px;" onclick="addComment('{{this._id}}')">add</button>
                </div>
                <div class="showcomments">
                {{#ifCond this.comments.length 0}}
                 <p><em>No comments to show you!</em></p>
                {{else}}
                {{#each comments}}
                  <div class="w3-lightgray" style="padding: 10px;margin-bottom: 10px">
                   <div style="display: inline-block;width: 20%;">
                    <img src="{{this.imageUrl}}" class="w3-left" style="width: 25px; height: 25px;padding:2px; border-radius: 50%;">
                    <p class="" style="padding:2px;color: #365899;overflow-wrap: break-word;"><a href="/userprofile/{{this.username}}" style="text-decoration: none;cursor: pointer;" ><strong>{{this.name}}</strong></a></p>
                   </div>
                   <div style="display: inline-block;width: 70%;background-color: #e9ebee;padding: 2%;border-radius: 30px;"> 
                    <p>
                      {{{this.content}}}
                    </p>
                    </div>
                  </div>
                  {{/each}}
                {{/ifCond}}
                </div> 

              </div>
              </div>
              {{/ifCond}}
            </div>      
          {{/each}}
    {{else}}
      <p style="margin-left: 45%;"><em>Sorry , No posts to show you.</em></p>
    {{/if}}  
    <!-- End Middle Column -->
    </div>

   <div style="margin-left: 79%;width: 200px;height: 200px;position: fixed;">
      <ul style=" list-style-type: none;">
        <li><a style="text-decoration: none;" href="/showfollowers">Followers</a></li>
        <li><a style="text-decoration: none;" href="/showfollowings">Following</a></li>
        <li onclick="document.getElementById('infoedit').style.display='block'">Edit Basic Information</li>
        <li onclick="document.getElementById('bioedit').style.display='block'">Edit Bio</li>
      </ul>
    </div>

    <!--  model -->

  <div id="infoedit" class="w3-modal" style="border-radius: 4px;">
    <div class="w3-modal-content w3-card-4" style="background-color: #e9ebee;width: 400px;">
      <header class="w3-container" style="background-color: #e9ebee;"> 
      <div style="display: inline-block;">
        <div style="margin-top: 0%;" onclick="document.getElementById('infoedit').style.display='none'" class="w3-button w3-small w3-display-topright">&times;</div>
        </div>
        <div style="display: inline-block;width: 99%">
        <p style="color: #074b83;margin-left: 40%;"><strong>Update Details</strong></p>
        </div>
      </header>
      <div class="w3-container" style="margin-bottom: 3%;">
           <form class="form" method="post" action="/updatedetails">
            <div class="form__group">
                <input type="text" placeholder="Name" class="form__input" name="uname" />
            </div>

            <div class="form__group">
                <input type="date" placeholder="birthday" class="form__input" name="ubirthday" />
            </div>

            <div class="form__group">
                <input type="text" placeholder="profession" class="form__input" name="uprofession" />
            </div>

            <div class="form__group">
                <input type="text" placeholder="city" class="form__input" name="ucity" />
            </div>
            
            <div class="form__group">
                <input type="text" placeholder="country" class="form__input" name="ucountry" />
            </div>

            <div class="form__group">
                <input type="password" placeholder="password" class="form__input" name="upassword" />
            </div>
            <input type="submit" name="update" value="update" class="btn w3-theme-d5">
        </form>
      </div>
      <footer class="w3-container"> 
      </footer>
      </div>
  </div>  
  
  <div id="bioedit" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="background-color: #e9ebee;width: 400px;">
      <header class="w3-container" style="background-color: #e9ebee;"> 
      <div style="display: inline-block;">
        <div style="margin-top: 0%;" onclick="document.getElementById('bioedit').style.display='none'" class="w3-button w3-small w3-display-topright">&times;</div>
        </div>
        <div style="display: inline-block;width: 99%">
        <p style="color: #074b83;margin-left: 40%;"><strong>Update Bio</strong></p>
        </div>
      </header>
      <div class="w3-container" style="margin-bottom: 3%;">
           <form class="form" method="post" action="/updatebio">
            <div class="form__group">
                <input type="text" placeholder="Edit Bio" class="form__input" name="ubio" />
            </div>
            <input type="submit" name="update" value="update" class="btn w3-theme-d5">
        </form>
      </div>
      <footer class="w3-container"> 
      </footer>
      </div>
  </div>

  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else { 
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}


function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script type="text/javascript">
  var config = {
    apiKey: 'AIzaSyBiQFWX-K78Uj49N--rMF8z5piALyLWHXo',
    authDomain: 'ithink-fbc4c.firebaseapp.com',
    databaseURL: 'https://ithink-fbc4c.firebaseio.com',
    storageBucket: 'ithink-fbc4c.appspot.com'
  };
  firebase.initializeApp(config);
  var storage = firebase.storage();
</script>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */

function donecomment (id) {
  var x= document.getElementById('commentbox'+id);
  if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.className = x.className.replace(" w3-hide", "");
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.className += " w3-hide";
    } 
}

function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
