<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/likeupdate.js"></script>
<br>
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;" id="dashboardid">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
      <!-- Profile -->
      <div class="w3-card w3-round w3-white w3-hover-shadow w3-container w3-theme-l5 " id="profilepc" style="width: 28%;height: 95%;position: fixed;">
         <p class="w3-left" >
         <div >
         <img src= {{_user.imageUrl}} class="w3-rounded" style="height:300px;width:300px;margin-top: 3%;border-radius: 5px;cursor: pointer;" alt="Avatar" id="dp">
          </div>
         <h4>{{_user.name}}</h4>
         <hr>
         <div class="w3-block w3-theme-l5 w3-left-align"><i class="fa fa-pencil fa-fw w3-margin-right "></i> {{_user.profession}}</div>
         <div class=" w3-block w3-theme-l5 w3-left-align"><i class="fa fa-home fa-fw w3-margin-right "></i> {{_user.city}}, {{_user.country}}</div>
         <div class=" w3-block w3-theme-l5 w3-left-align"><i class="fa fa-birthday-cake fa-fw w3-margin-right "></i>{{formatDate _user.birthday}}</div>
         <div  class=" w3-block w3-theme-l5 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i>Following <span style="margin-left: 3%;">{{_user.following.length}}</span></div>
        <div  class=" w3-block w3-theme-l5 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i>Followers <span style="margin-left: 3%;">{{_user.followers.length}}</span></div>
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m4"  style="left: 28.5%; position: absolute" id="postsdiv" >
    {{#if _user.posts}}
          {{#each _user.posts}}
              <div class="w3-container w3-card w3-white w3-round  w3-hover-shadow w3-theme-l5 wrap" style="width: 142%;margin: 10px; margin-left: 15px; margin-top: 0px">
               <div class="header" style="margin-top: 20px;width: 142%;">
                 <p style="width: 142%;"><img src={{../_user.imageUrl}} class="w3-circle" style="height:40px;width:40px;" alt="Avatar"><span  style="margin-left: 7px;font-weight: bold;"><a href="/dashboard" style="text-decoration: none;color: #365899;">{{../_user.name}}</a></span><span style="margin-left: 28%;color: #a2a3a9">{{this.creation}}</span>
                 </p>
                 <p style="font-size: 20px;margin-top: 2%;"><strong>{{this.title}}</strong></p>
                 <hr style="width: 70%;">
                 <!-- <hr style="width: 70%;"> -->
               </div>
              <p style="margin-top: 10px;">{{{this.text}}}</p>   
              <div class="footer" style="width: 142%;">
              <hr style="width: 70%;">
              <div class="w3-button  w3-margin-bottom" style="width: 23%;border-radius: 20px;" onclick="updateLikes(`{{this._id}}`)"><i class="fa fa-thumbs-up" style="padding-right: 8px;font-size: 22px;" id="licon{{this._id}}"></i><span style="color: #848587;"><strong>Like</strong></span> <span style="color: #848587;" id="likes{{this._id}}">{{this.likes}}</span></div> 
              <div class="w3-button  w3-margin-bottom " style="width: 23%;border-radius: 20px;"><i class="fa fa-comments-o" style="padding-right: 8px;font-size: 19px;"></i><span style="color: #848587;"><strong>Comment</strong></span> </div>
              <div class="w3-button  w3-margin-bottom " style="width: 23%;border-radius: 20px;"><i class="fa fa-share-square-o" style="padding-right: 8px;font-size: 19px;"></i><span style="color: #848587;" id="shares"+ String({{this._id}})><strong>Share</strong></span> <span style="color: #848587;">{{this.shares}}</span></div>
              </div>
            </div>      
          {{/each}}
    {{else}}
      <p style="margin-left: 45%;"><em>Sorry , No posts to show you.</em></p>
    {{/if}}  
    <!-- End Middle Column -->
    </div>
  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else { 
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}


function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script type="text/javascript">
  var config = {
    apiKey: 'AIzaSyBiQFWX-K78Uj49N--rMF8z5piALyLWHXo',
    authDomain: 'ithink-fbc4c.firebaseapp.com',
    databaseURL: 'https://ithink-fbc4c.firebaseio.com',
    storageBucket: 'ithink-fbc4c.appspot.com'
  };
  firebase.initializeApp(config);
  var storage = firebase.storage();
</script>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
